<%- include('includes/header.ejs') %>
<body>
  <a href="/">
    <img class="logo" src="/img/logo.png" alt="funshare logo" />
  </a>
  <div class="container">
    <!-- DropBox Start-->
    <div>
      <div class="dropbox flex">
        <div class="dropbox-upper flex">
          <img
            class="download-icon"
            src="/img/download-icon.png"
            alt="download-icon"
          />

          <div class="download_meta flex">
            <% if(error) { %>
            <h4><%= error %></h4>
            <% } else { %>
            <h4>Your file is ready!</h4>
            <p><span>Filename: </span><%= fileName %></p>
            <p><span>File Size:</span> <%= size %></p>
            <a href="<%= downloadLink %>" class="download-btn flex">Download</a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <!-- DropBox End -->
    <div class="caption-box">
      <h2 class="caption-box__text-1">Download</h2>
      <h2 class="caption-box__text-2">your</h2>
      <h2 class="caption-box__text-3">file.</h2>
    </div>
  </div>
  <div class="line-1"></div>
  <div class="line-2"></div>
  <div class="triangle-1"></div>
  <div class="triangle-2"></div>
  <script src="/js/script.js"></script>
</body>
<%- include('includes/footer.ejs') %>
